@using Lab3.ViewModel
@model MasterView

<h4>My Account</h4>
<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        @if (Model.Photo != null)
                        {
                            <img id="selectedAvatar" src="data:image/jpeg;base64,@ConvertHelper.GetBase64String(Model.Photo)"
                                 class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="example placeholder">
                        }
                        else
                        {
                            <img id="selectedAvatar" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"
                                 class="rounded-circle" style="width: 200px; height: 200px; object-fit: cover;" alt="example placeholder">
                        }
                        <h5 class="my-3">@Model.UserName</h5>
                        <p class="text-muted mb-1">@Model.Level</p>
                        <p class="text-muted mb-4">@Model.CategoryName</p>
                        <div class="d-flex justify-content-center mb-2">
                            <form asp-action="Edit" asp-route-id="@Model.MasterID" method="get">
                                <button type="submit" class="btn btn-outline-primary me-1 flex-grow-1">
                                    Edit
                                </button>
                            </form>
                            <form asp-controller="Account" asp-action="Edit"  asp-route-id="@Model.UserID" method="get">
                                <button type="submit" class="btn btn-outline-primary me-1 flex-grow-1">
                                    Edit User Name And Password
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.FirstName @Model.LastName</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Gender</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Gender</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Phone</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Age</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Age</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Age In Category</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.AgeInCategory</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
