@using Lab3.ViewModel
@model ProcedureView
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="col-lg-4 col-md-6 pb-4">
    <!-- Card-->
    <div class="card bg-white rounded shadow-sm" style="border:1px solid #222">
        <div class="card-body px-3 pt-3 pb-1 row">
            <div class="col-7">
                <label class="float-left">@Model.CategoryName</label>
            </div>
            <div class="col-5">
                <label class="float-right">
                    <span class="text-info h5">@string.Format("{0:c0}", Model.Price)</span>
                </label>
            </div>
        </div>
        <div class="card-body p-1 px-3 row">
            <div class="col-6">
                <span class="badge p-2 border w-100 text-dark" style="background-color:lavenderblush">@Model.Name</span>
            </div>
            <div class="col-12 pt-2" style="font-size:13px; text-align:justify">
                <p>@Model.Description</p>
            </div>
            @if (HttpContextAccessor.HttpContext.Session.GetString("Role") != "client"){
                <div class="text-center">
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ProcedureID }, new { @class = "btn btn-secondary btn-block" })
                    <br />
                        @Html.ActionLink("Delete", "Delete", new { id = Model.ProcedureID }, new { @class = "btn btn-danger" })
                </div>
            }
        </div>
    </div>
</div>