@using Lab3.Models
@using Lab3.ViewModel
@model Appointment
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="row justify-content-center align-items-center h-100">
    <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Appointment Form</h3>
                <form asp-action="ContinueCreate" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="AppointmentID" />

                    <div class="row">
                         @if (HttpContextAccessor.HttpContext.Session.GetString("Role") != "client")
                        {
                            <div class="col-md-6 mb-4">
                                <label for="price">Client</label>
                                <select class="select form-control-lg" asp-for="ClientID" name="ClientID">
                                    @foreach (var c in ViewBag.Clients)
                                    {
                                        <option value="@c.ClientID">@c.FirstName  @c.LastName @c.Phone</option>
                                    }
                                </select>
                                <label class="form-label select-label">Choose option</label>

                            </div>
                        }

                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-4">
                            <label for="price">Type</label>
                            <select class="select form-control-lg w-100" asp-for="ProcedureID" name="ProcedureID">
                                @foreach (var c in ViewBag.Procedures)
                                {
                                    <option value="@c.ProcedureID">@c.Name @c.MasterFirstName  @c.MasterLastName</option>
                                }
                            </select>
                            <label class="form-label select-label">Choose option</label>

                        </div>

                    </div>
                    
                    <div class="row mt-4 pt-2">
                        <input type="submit" value="Continue" class="btn btn-primary btn-lg">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>